.heading{
    color: black;
    text-align: left;
    font-size: 100px;
    background-color: rebeccapurple;
}
.fox{
    color: black;
    font-size: 50px;
}
#id{
    color: black;
    font-size: 100px;
}
ul{
    font-size: 50px;
}
body{
background-image: url(https://media.istockphoto.com/id/1248542684/vector/abstract-blurred-colorful-background.jpg?s=612x612&w=0&k=20&c=6aJX8oyUBsSBZFQUCJDP7KZ1y4vrf-wEH_SJsuq7B5I=);
background-size:cover ;
}
.txt{
    color: red;
}
.box{
    height: 200px;
    width: 200px;
    background: black;
    margin-left: 1200px;
    border: 6px wheat solid;
    padding: 30px;
    box-sizing: border-box;
}
