.heading{
    color: black;
    text-align: left;
    font-size: 100px;
    background-color: rebeccapurple;
}
.fox{
    color: chartreuse;
}
#id{
    color: #915a5a;
}
ul{
    font-size: 50px;
}
body{
background-image: url('https://media.istockphoto.com/id/1248542684/vector/abstract-blurred-colorful-background.jpg?s=612x612&w=0&k=20&c=6aJX8oyUBsSBZFQUCJDP7KZ1y4vrf-wEH_SJsuq7B5I=');
background-size: cover;
}
