*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    color: black;
    text-align: left;
    font-size: 100px;
    background-color: rebeccapurple;
}
.fox{
    color: black;
    font-size: 50px;
}
#id{
    color: black;
    font-size: 100px;
}
ul{
    font-size: 50px;
}
body{
background-image: url(https://media.istockphoto.com/id/1248542684/vector/abstract-blurred-colorful-background.jpg?s=612x612&w=0&k=20&c=6aJX8oyUBsSBZFQUCJDP7KZ1y4vrf-wEH_SJsuq7B5I=);
background-size:cover ;
}
.txt{
    color: red;
}
.box{
    height: 200px;
    width: 200px;
    background: black;
    margin-left: 1200px;
    border: 6px wheat solid;
    padding: 30px;
    box-sizing: border-box;
    display: none;
}
.con{
    height: 300px;
    width: 100%;
    background: red;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.item{
    height: 200px;
    width: 300px;
}
.i1{

    background: yellow;
    background-image: url(https://files.worldwildlife.org/wwfcmsprod/images/Tiger_resting_Bandhavgarh_National_Park_India/hero_small/6aofsvaglm_Medium_WW226365.jpg);
    background-size: cover;
}
.i2{
    background: yellowgreen;
    background-image: url(https://cdn.pixabay.com/photo/2018/07/31/22/08/lion-3576045_1280.jpg);
    background-size: cover;
   
}
.i3{
    background: pink;
    background-image: url(https://lawbeat.in/sites/default/files/news_images/CHEETAH%2BNTCA.jpg);
    background-size: cover;
    
}
